body
{
    background-image: url(back2.jpg);
}
.nav
{
    background-color: #0C0047;
    height: 70px;
    width: 100%;
    font-family: serif;
    font-size: 25px;
    color: white;  
    display: flex;
    align-items: center;
}
.nav a
{
    text-decoration: none;
    color: white;
}
.filter
{
    background-color: white;
    border: 0px;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter div
{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.filter input[type="number"],.filter select
{
    border-radius: 0px;
    border: 1px solid black;
    height: 30px;
    width: 150px;
}
.filter select
{
    
    border-radius: 0px;
    border: 1px solid black;
    height: 35px;
    width: 150px;
}
.filter input[type="text"]
{
    border-radius: 0px;
    border: 1px solid black;
    height: 30px;
    width: 300px;
}
.hang-left :first-child
{
    width: 40px;
    height: 40px;
}
.nav .hang-left
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding-left: 20px;
    float: left;
}
.nav .hang-right
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    position: absolute;
    right: 5%;
    width: 300px;
}
#entry-form
{
    background-color: white;
    width:80%;
    margin: auto auto;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    font-family: arial;
    font-size: 12px;
    font-weight: 600;
    height: 700px;
}
#wrapper
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#first-division
{
    width: 40%;
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#second-division
{
    width: 60%;
    height: 620px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
input[type="text"],input[type="password"],input[type="email"],input[type="date"],input[type="number"],input[type="file"]
{
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 300px;
}
textarea
{
     border-radius: 5px;
    border: 1px solid black;
    width: 300px;
}
select
{
    border-radius: 5px;
    border: 1px solid black;
    height: 35px;
    width: 300px;
}
button
{ 
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #30D941;
    border: 0px;
    width: 150px;
    height: 40px;
    border-radius: 2px;
}
.photo-gallery
{
    width: 420px;
    height: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.photo-gallery img
{
    width: 200px;
    height: 200px;
}


.display-land-wrapper
{   
    margin: 2% auto;
    width: 80%;
    height: 80vh;
    overflow: auto;
}
.display-land-wrapper a
{
    text-decoration: none;
    color: black;
}
#display-land img
{
    width: 30vw;
    height: 300px;
}
#display-land
{
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
#display-land-second
{
    width: 55%;
    margin: auto auto;
    color: black;
}
#display-land-second img
{
   width: 30px;
   height: 30px;
   float: right;
}


#view-wrapper
{
    margin: auto auto;
    background-color: white;
    width: 80%;
    height: auto;
}
#view-wrapper div
{
    margin-top: 2%;
}
.view-photo-gallery
{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto auto;
}
.view-photo-gallery img
{
    width: 200px;
    height: 200px;
}
#view-wrapper
{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
#view-wrapper :last-child
{
  margin-bottom: 2%;
}
#view-wrapper-second
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
#view-wrapper-second div
{
    width: 40%;
}
#view-wrapper-second button
{
    float: right;
}
#view-wrapper-second button:hover
{
    cursor: pointer;
}